<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
</head>
<body>
<div class="container-sm">
    <button class="btn btn-success", onclick="window.location.href='/categories'">Back</button>
    <div class="card-body">
        <h2 class="card-title">Product Listing:</h2>
        <!-- changed starter code so that pid is also retrieved by the webpage and displayed in the table -->
        <table class="table table-dark">
            <tr>
                <th scope="col"> Auction Title </th>
                <th scope="col"> Product Name </th>
                <th scope="col"> Product Description </th>
                <th scope="col"> Quantity </th>
                <th scope="col"> Average Seller Rating</th>
                <th scope="col"> Remaining Bids </th>
                <th scope="col"> Current Bid Price ($) </th>
            </tr>
            <tbody>
                <tr>
                    <td>{{ product_info[3] }}</td>
                    <td>{{ product_info[4] }}</td>
                    <td>{{ product_info[5] }}</td>
                    <td>{{ product_info[6] }}</td>
                    <td>{{ rating }}</td>
                    <td>{{ remaining_bids }}</td>
                    <td>{{ max_bid[0] }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form id="bid_amount" action="/details/{{ product_info[1] }}" method="POST">
            <div class="form-group">
                <label for="bid">Bid Amount</label>
                <input type="number" name="bid" required class="form-control">
                {% if error %}
                <p style="color: red;">{{ error }}</p>
                {% endif %}
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">Submit Bid</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!-- modal: used reference from https://getbootstrap.com/docs/4.0/components/modal/ but changed
 the 'confirm' button type to 'submit' and referenced the form id-->
<div class="modal" id="confirmModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Bid Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you'd like to place this bid?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" form="bid_amount">Confirm</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>